<!DOCTYPE html>
<html>
	<head>
		<title>My Awesome Site</title>
		<!-- href path is assumed to start in the static folder (Public) -->
		<link rel="stylesheet" href="./css/styles.css" />
	</head>

	<body>
		<%- include('./partials/header.ejs') %>

		<!-- we need a body scriptlet injection tag -->
		<div>
			<%- body %>
		</div>

		<h4>hey i am at the bottom of everything!</h4>
		<script src="./js/script.js"></script>
	</body>
</html>